.red-border{
    
    margin: 6px;
}
.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.bg{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}

.card .pcard{
    padding-top: 6px;
}
